@charset "utf-8";
/*css document*/

body{
    display: inline;
}

aside{
    float: left;
    width: 200px;
    height: 480px;
}

.box{
    width: 200px;
    height: 160px;
    font-size:100px;
	background: #0CF;
}

.box:hover{
	background:#36F;
	cursor:pointer;
}

.ch_bg{
	background:#36F;
}


section{
	float:left;
	height:480px;
	width:480px;
	background:#ddd;

}

.content{
	width:480px;
	height:480px;
	background:#F60;
	display: none;
}